*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,#root,.container{
    width: 100%;
    min-height: 100dvh;
    background-color: #222;
    color: #aaa;
     display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
}
.links{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 4px;
    justify-content: center;
    z-index: 20;
    flex-wrap: wrap;
}
h1{
    border: 2px solid #aaa;
    padding: 10px;
    font-size: 30px;
    width: 49%;
    display: flex;
    align-items: center;
}